# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env

# IDE settings
.vscode/
.idea/

# Excel temporary files
~$*.xlsx
